<template name="gallery">
    <div class="mui-container">
        <h1 class="mui-text-headline mui-text-white nova">Gallery</h1>
        <div class="mui-row">

            <div class="mui-col-sm-6 mui-text-white mui-text-body1">
                <div class="mui-panel mui-text-center">

                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.670301133013186.1073741829.107561995953772&amp;type=3" data-width="500"></div>
                </div>

            </div>
            <div class="mui-col-sm-6 mui-text-white mui-text-body1">
                <div class="mui-panel mui-text-center">

                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.670300383013261.1073741828.107561995953772&amp;type=3" data-width="500"></div>
                </div>

            </div>

        </div>
        {{>footer}}
    </div>
</template>
