<template name="drinkSpecials">
    <div class="mui-container">
        <h1 class="mui-text-headline mui-text-white nova">Weekly Drink Specials</h1>
        <div class="mui-row">



            <div style="position:relative" class="mui-col-sm-12 mui-text-white mui-text-body1">
                <img class="barimage" src="/barbg.jpg" style="width:100%">
                <div class="mui-panel drinkSpecials">
                    <div class="mui-text-headline mui-text-white">
                        <div><span class="accent">Morning Happy Hour </span>- M-F - 8am - 11am - $2.50 wells and domestics</div>
                        <div><span class="accent">Afternoon Happy Hour </span> - M-F - 4pm - 7pm - $2.50 wells and domestics</div>
                        <div><span class="accent">Monday </span> - 2 for 1 Coronas and Margaritas</div>
                        <div><span class="accent">Tuesday </span> - 2 for 1 Twisted Teas</div>
                        <div><span class="accent">Wednesday </span> - Ladies Night & Dirty Girls are on special </div>
                        <div><span class="accent">Sunday</span> - $3 Bloody Mary’s and Caesars</div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
    <style>
    img.barimage {
    position: absolute;
}.drinkSpecials{
    position:relative;
    z-index: 3333;
}img.barimage {
    position: absolute;
    width: 98%!important;
}.drinkSpecials {
    position: relative;
    z-index: 3333;
    top: 21px;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.87);
}.drinkSpecials {
    position: relative;
    z-index: 3333;
    top: 354px;
    left: 3px;
    background-color: rgba(0, 0, 0, 0.81);
}.mui-panel.drinkSpecials .mui-text-headline div {
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: bold;
    text-align: left;
}
.drinkSpecials {
    position: relative;
    z-index: 3333;
    top: 370px;
    left: 3px;
    background-color: rgba(0, 0, 0, 0.81);
    border: solid 2px #686565;
}span.accent {
    color: #BB2132;
}


    </style>
</template>
