<template name="game">
    <div class="mui-container">
        <h1 class="mui-text-headline mui-text-white nova">Gaming</h1>
        <div class="mui-row">

            <div class="mui-col-sm-4 mui-text-white mui-text-body1">
                <div class="mui-panel">
                    <p class="mui-text-subhead mui-text-white">At the Sunrise Saloon and Casino we have several machines loaded with classic and new video poker and keno games. Come on down and try your luck!</p>
                </div>
            </div>
            <div class="mui-col-sm-8">
                <img class="gamingimage" src="/gaming4.jpg">
                <img class="gamingimage" src="/gaming1.jpg">
                <img class="gamingimage" src="/gaming2.jpg">

            </div>

        </div>
    </div>
</template>
