<template name="footer">
    <div class="siteFooter ">

        <div class="mui-col-sm-4 mui-text-left creditfootleft">
            <div class="mui-text-button mui-text-white credit">
                <small>Developed By </small>
            </div>
            <a href="http://poolsoftware.io?src=sunrise">
                <div class="mui-pull-left">
                    <img src="/poollogo.jpg" width="100px">
                </div>
                <div class="mui-text-button mui-text-white">
                    <small><a href="http://poolsoftware.io?src=sunrise">Missoula Website Development & Design</a></small>
                </div>
            </a>
            <br>

        </div>
        <div class="mui-col-sm-2">
            <p></p>
        </div>
        <div class="mui-col-sm-2">
        </div>
        <div class="mui-col-sm-6 mui-text-right">
            <div class="mui-text-caption credit-right credit">® 2015 Sunrise Saloon
                <a href="/admin">Admin</a></div>


        </div>


    </div>
</template>
