<template name="navBar">
    <div class="mui-navbar">
        <div class="mui-container">
            <div style="postition:relative" class="topNav">
                <img src="/gradient.png" class="topgradient">
                <div class="mui-row">
                    <div class="mui-col-sm-12 mui-text-center">
                        <a class="brand">
                            <img class="thelogo" src="/logo.png" style="width:300px">
                        </a>
                    </div>
                    <div class="mui-col-sm-12 mui-text-center">
                        <div class="mui-text-subhead siteSub">
                            Missoula's ONLY venue dedicated to LIVE COUNTRY MUSIC
                        </div>
                        <div class="">
                        <div class="mui-text-caption siteSub">
                        406.728.1559
                        </div>
                        <div class="mui-text-caption siteSub">
                        1101 Strand Ave

                        </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="navbarBottom">
                <a href="/">Home</a>
                <a href="/p/gallery">Gallery</a>

                <a href="#" class="mui-pull-right">Contact</a>
            </div>
        </div>
    </div>
</template>
