<template name="navBar">
    <div class="mui-navbar">
        <div class="mui-container">
            <div class="navbarTop">
                <div class="mui-row">
                    <div class="mui-col-sm-4">
                        <a class="brand">
                            <img src="/logo.png">
                        </a>
                    </div>
                    <div class="mui-col-sm-8 mui-text-right">
                        <div class="mui-text-subhead siteSub">
                            Missoula's ONLY venue dedicated to LIVE COUNTRY MUSIC
                        </div>
                        <div class="">
                        <div class="mui-text-caption siteSub">
                        406.728.1559
                        </div>
                        <div class="mui-text-caption siteSub">
                        1805 Regent Street

                        </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="navbarBottom">
                <a href="/">Home</a>
                <a href="/p/landingPage">Gallery</a>

                <a href="#" class="mui-pull-right">Contact</a>
            </div>
        </div>
    </div>
</template>
