<template name="contact">
    <div class="mui-container">
        <div class="mui-panel">
            <div class="section w1060">

                <div class="b2b-location-items-container mui-text-body1 mui-text-white">
                    <div class="b2b-location-items show-details">
                        <ul style="display: block; top: 0px;">
                            <li data-address="1805 Regent Street, Missoula, MT, 59801" data-index="1" class="show-details" style="display: block;">
                                <div class="b2b-location-basic-info">
                                    <div class="b2b-location-hover-box"></div>
                                    <h2>Sunrise Saloon</h2>
                                    <p>1805 Regent Street
                                        <br>Missoula, MT 59801</p>
                                    <a class="b2b-location-get-directions color_bodylinks" href="http://maps.google.com/maps?daddr=1805 Regent Street, Missoula, MT 59801&amp;hl=en" target="_blank">GET DIRECTIONS ›</a>
                                    <a class="b2b-location-expand-icon" href="javascript:void(0);" title="See Details"></a>
                                </div>
                                <p class="b2b-location-detail-info" style="display: block;">
                                    <br>
                                    <span class="b2b-location-h2">Call Us</span>
                                    <br><b>Main Phone </b>: (406) 728-1559
                                    <br><b>Pizza Kitchen </b>: (406) 728-0934
                                    <br>
                                    <br>
                                    <span class="b2b-location-h2">Hours</span>
                                    <br>
                                    <b>Mon: </b>8:00 AM - 2:00 AM
                                    <br><b>Tue: </b>8:00 AM - 2:00 AM
                                    <br><b>Wed: </b>8:00 AM - 2:00 AM
                                    <br><b>Thu: </b>8:00 AM - 2:00 AM
                                    <br><b>Fri: </b>8:00 AM - 2:00 AM
                                    <br><b>Sat: </b>8:00 AM - 2:00 AM
                                    <br><b>Sun: </b>8:00 AM - 2:00 AM
                                    <br> </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</template>
