<template name="eventForm">

    <!--
BAND NAME/TITLE
DATE/TIME
IMAGE
SHORT DESCRIPTION -->


    <div class="mui-container">
        <h1 class="mui-text-headline mui-text-white"> New Event</h1>
        <div class="mui-panel">

            <form class="eventForm">
                <div class="mui-row">
                    <div class="mui-col-sm-6">

                        <!-- FORM FIELD START     -->
                        <div class="mui-form-group">
                            <label>Calendar Only</label>
                            <select name="calOnly" class="calOnly form-control">
                                <option>false</option>
                                <option>true</option>
                            </select>
                        </div>

                        <!-- FORM FIELD START     -->
                        <div class="mui-form-group">
                            <label>Band Name/Title</label>
                            <input name="band" class="title mui-form-control">
                        </div>


                        <!-- FORM FIELD START     -->
                        <div class="mui-form-group fff">
                            <label>Featured</label>
                            <select name="featured" class="form-control">
                                <option>false</option>
                                <option>true</option>
                            </select>
                        </div>

                        <!-- FORM FIELD START     -->
                        <div class="mui-form-group fff">
                            <label>Flyer (right rail)</label>
                            <select name="flyer" class="form-control">
                                <option>false</option>
                                <option>true</option>
                            </select>
                        </div>

                        <!-- FORM FIELD START     -->
                        <div class="mui-form-group fff">
                            <label>Flyer 2 (right rail bottom)</label>
                            <select name="flyertwo" class="form-control">
                                <option>false</option>
                                <option>true</option>
                            </select>
                        </div>


                        <!-- FORM FIELD START     -->


                        <div class="mui-form-group">
                            <label>Date/Time</label>
                            <input name="date" class="datepicker mui-form-control">
                        </div>
                        <!-- FORM FIELD END     -->
                        <!-- FORM FIELD START     -->
                        <div class="mui-form-group">
                            <label>Description</label>
                            <div id="summernote"></div>
                        </div>
                        <!-- FORM FIELD END     -->
                        <br>
                        <button type="submit" class="mui-btn mui-btn-lg mui-btn-primary">Publish</button>
                    </div>
                    <div class="mui-col-sm-6">



                        <!-- FORM FIELD END     -->
                        <div class="mui-col-sm-12">

                            <!-- FORM FIELD START     -->
                            <div class="mui-form-group">
                                <label>Featured Image</label>
                                <input type="file" class="file mui-form-control">

                                <br> {{#if featuredImage}}
                                <img style="max-width:100%;width:200px;" src="{{featuredImage}}"> {{else}}
                                <img style="max-width:100%;width:200px;" src="/placeholder.png"> {{/if}}
                            </div>
                            <h6 class="mui-text-subhead mui-text-white">File Queue <a class="mui-pull-right btn btn-xs btn-danger cleanEm">Purge</a></h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 150px;">Name</th>
                                        <th style="width: 150px;">Size</th>
                                        <th style="width: 200px;">Progress</th>
                                        <th style="width: 200px;">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each files}} {{> fileUploadRow}} {{/each}}
                                </tbody>
                            </table>

                            <!-- FORM FIELD END     -->
                        </div>

                    </div>
                </div>

                <div class="mui-row">

                </div>




                <script>
                    initSummernote()
                </script>


            </form>
        </div>
        {{>footer}}
    </div>

</template>
<template name="fileUploadRow">
    {{#if notLoaded}}
    <tr>
        <td>{{name}}</td>
        <td>{{size}}</td>
        <td>
 <div class="mui-text-button mui-text-white"><i class="fa fa-spin fa-spinner"></i> uploading</div>
            <!-- <div class="progress progress-striped {{uploadCompleteClass}}">

                <div class="bar" style="width:{{uploadProgress}}%">
                    <span style="padding: 2px; float: left; color: #000;">
                        {{uploadProgress}}%
                    </span>
                </div>
            </div> -->
        </td>
        <td>{{status}} <a href="#" class="btn btn-danger btn-xs deleter">delete file</a></td>
    </tr>
    {{/if}}
</template>
